body {
    background: white;
}

body::-webkit-scrollbar {
  width: 25px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: honeydew ;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: cornflowerblue;    /* color of the scroll thumb */
  border-radius: 25px;       /* roundness of the scroll thumb */
  border: 2px solid white;  /* creates padding around scroll thumb */
}

#search {width: 45vw;
  height:35px;
  font-size: 20px;
padding-left: 15px;}




form {
    width: 50%;
    margin: 10px auto;
    text-align:center;
    padding: 12px;
    border-radius: 15px;
}

input {
    height: 20px;
    padding: 4px 4px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid green;
    margin: 5px;
}

.data-table {text-align:center;}

th{font-size:16px;
border-bottom: 2px solid black;}

tbody td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  border:2px solid black;
  background-color: lavender;
  color: black;
}
