body {
    background: white;
    font-family: Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  width: 20px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: honeydew ;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: cornflowerblue;    /* color of the scroll thumb */
  border-radius: 25px;       /* roundness of the scroll thumb */
  border: 2px solid white;  /* creates padding around scroll thumb */
}

#searchbar {
  width: 40vw;
  height:30px;
  font-size: 1.25rem;
  border-radius: 10px;
  padding-left: 15px;
margin-right: 7px;}

  #searchbar:hover {
    box-shadow: 0 0 5px limegreen;
  }



#search-icon {
  color: royalblue;
}

.searchspan {
  display: flex;
  align-items: center;
  margin: auto;}

.searchbar-wrap {
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 8px grey;
  display: flex;
  align-items: center;
}

.results-list {
  width:100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  overflow-y: scroll;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover{
  background-color: lavender;
}

.searchButton {
height:20px;
width:50px;
color:royalblue;
}
form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 15px;
}


.data-table {text-align:center;}

th{font-size:16px;
border-bottom: 2px solid black;}

tbody td {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  border:2px solid black;
  background-color: lavender;
  color: black;
}
