@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Space+Grotesk:wght@400;500;700&display=swap');


:root {
  --bg-body-light: hsl(0, 0%, 98%);
  --bg-table-heading: hsl(0, 0%, 95%);
  --bg-table-body: hsl(0, 0%, 100%);
  --bg-table-body-row-highlight: hsl(155, 100%, 80%);
  --shadow: hsl(0, 0%, 90%);
  --accent: hsl(160, 84%, 39%);
  --accent-dark: hsl(160, 84%, 35%);
  --accent-darkest: hsl(160, 84%, 31%);
  --accent-super-light: hsla(160, 84%, 95%);
  --accent-delete: hsl(0, 84%, 39%);
  --accent-delete-dark: hsl(0, 84%, 35%);
  --accent-delete-darkest: hsl(0, 84%, 31%);
  --text-light: hsl(0, 0%, 100%);
  --text-grey: hsl(0, 0%, 50%);
  --text-dark: hsl(0, 0%, 0%);
  --ad: hsl(0, 0, 80%);
  font-size: 62.5%;

  --fs-36: 3.6rem;
  --fs-24: 2.4rem;
  --fs-16: 1.6rem;
  box-sizing: border-box;

  --navbar-width: 250px;
}

body {
  background: white;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* NAVIGATION BAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  color: var(--text-light);
  background-color: rgb(10, 10, 30);
  height: 100%;
  width: 250px;
  list-style-type: none;

}

.navbar-item {
  display: block;
  margin: 2px;
  padding-left: 50px;
  max-width: var(--navbar-width);
  font-size: var(--fs-16);
  color: var(--text-light);
  list-style: none;
  text-decoration: none;
  line-height: 5rem;
}

.navbar-item:hover {
  background-color: var(--accent);
  color: var(--text-dark);
}


/* MAIN SECTION */

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  padding: 25px;
  background-color: var(--bg-body-light);
  margin-left: var(--navbar-width);
  height: 100vh;
}

header {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 12px;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0px 20px; */
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 3px var(--shadow);
  /* border: 1px solid black; */
}


/* SEARCH BAR */

.search-bar-container {
  height: 50px;
  padding: 25px;
  background-color: var(--bg-table-body);
}

.search-bar-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  border: 2px solid var(--bg-table-heading);
  border-radius: 8px;
  overflow: hidden;

}

.search-bar-wrapper:hover {
  background-color: var(--accent-super-light);
}

.search-bar:focus + .search-bar-icon,
.search-bar-wrapper:focus-within {
  border: 2px solid var(--accent);
}

.search-bar,
.search-bar-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 45px;
  background: transparent;
  /* background-color: var(--bg-table-body); */
}

.search-bar {
  width: 100%;
  border: none;
  outline: none;
}

.search-bar::placeholder {
  color: var(--text-grey);
}

.search-bar-icon {
  padding: 0 15px;
  color: var(--text-grey);
  /* background-color: var(--bg-table-body); */
}

/* TABLES */

.tableContainer{
    background-color: none;
    border-radius: none;
    height: 65vh;
    padding: 0;
    overflow: scroll;
}

.tableContainer::-webkit-scrollbar {
  width: 10px;  /* width of the right side scrollbar */
  height:10px;   /* width of the  bottom scrollbar */
}

.tableContainer::-webkit-scrollbar-track {
  background: white ;   /* color behind the moving bar */
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: var(--accent);    /* color of the moving bar */
  border-radius: 3px;       /* roundness of moving bar */
  border: 2px solid white;  /* creates padding around moving bar*/
}

.data-table {
  align-items: center;
  width: 100%;
  border-spacing: 0px;
  background-color: var(--bg-table-body);
  z-index: 1;
  overflow: scroll;
}

thead {
  position: sticky;
  height: 42px;
  background-color: var(--bg-table-heading);
  font-size: var(--fs-16);
}

tbody td {
  padding: 7px;
  height: 55px;
  border-bottom: 1px solid mediumseagreen;
  font-size: var(--fs-16);
  font-weight: 500;
  text-align: center;
}

tbody tr:hover {
  background-color: var(--bg-table-body-row-highlight);
  height:80px;
}

.id-col {
  min-width: 20px;
  /* text-align: left; */
}

.name-col {
  text-align: left;
}


/* BUTTONS */

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-16);
  font-weight: 600;
  background-color: var(--accent);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-dark);
  height:45px;
}

.btn:active {
  background-color: var(--accent-darkest);
}

.btn-text,
.btn-icon {
  color: var(--text-light);
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 4px;
  background: transparent;
}

.delete-btn {
  background-color: var(--accent-delete);
}

.delete-btn:hover {
  background-color: var(--accent-delete-dark);
}

.delete-btn:active {
  background-color: var(--accent-delete-darkest);
}


/* FORMS */

.form-wrap {
  position: fixed;
  display: block;
  right:22vw;
  width:20vw;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 8px grey;
  z-index: 3;
}

.form-wrap input {
  margin-bottom: 9px;
  width: 90%;
  height: 22px;
  font-size: 18px;
  padding-left: 10px;
}

.dropdown {
  position: fixed;
  display: block;
  width:20vw;
  right:1vw;
  background-color: mistyrose;
  font-size: 14px;
  z-index: 2;
}

.dropdown:hover {
  cursor: pointer;
}

.search-result {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-bottom: 1px solid green;
}


/* ELEMENTS */

h1 {
  margin: 0;
  font-size: var(--fs-36);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: var(--fs-24);
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: var(--fs-16);
  font-weight: 700;
}
