@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Space+Grotesk:wght@400;500;700&display=swap');


:root {
  --bg-body-light: hsl(0, 0%, 98%);
  --bg-table-heading: hsl(0, 0%, 95%);
  --bg-table-body: hsl(0, 0%, 100%);
  --bg-table-body-row-highlight: hsl(155, 100%, 80%);
  --shadow: hsl(0, 0%, 90%);
  --accent: hsl(160, 84%, 39%);
  --accent-dark: hsl(160, 84%, 35%);
  --accent-darkest: hsl(160, 84%, 31%);
  --text-light: hsl(0, 0%, 100%);
  --text-grey: hsl(0, 0%, 50%);
  --text-dark: hsl(0, 0%, 0%);
  --ad: hsl(0, 0, 80%);
  font-size: 62.5%;

  --fs-36: 3.6rem;
  --fs-24: 2.4rem;
  --fs-16: 1.6rem;
  box-sizing: border-box;

  --navbar-width: 250px;
}

body {
  background: white;
  font-family: 'Inter', sans-serif;
  margin: 0px;
  padding: 0px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  color: var(--text-light);
  background-color: rgb(10, 10, 30);
  height: 100%;
  width: 250px;
  list-style-type: none;

}

.navbar-item {
  display: block;
  margin: 2px;
  padding-left: 50px;
  max-width: var(--navbar-width);
  font-size: var(--fs-16);
  color: var(--text-light);
  list-style: none;
  text-decoration: none;
  line-height: 5rem;
}

.navbar-item:hover {
  background-color: var(--accent);
  color: var(--text-dark);
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  padding: 25px;
  background-color: var(--bg-body-light);
  margin-left: var(--navbar-width);
  height: 100vh;
}

header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 12px;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 0px 20px; */
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 3px var(--shadow);
  /* border: 1px solid black; */
}

.search-bar-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  /* width: 100%; */
  padding: 25px;
}

.search-bar,
.search-bar-icon {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 45px;
  background-color: var(--bg-table-body);
}

.search-bar {
  width: 100%;
  border: none;
}

.search-bar: hover {
  box-shadow: 0 0 5px limegreen;
}

.search-bar::placeholder {
  color: var(--text-grey);
}

.search-bar-icon {
  color: var(--text-grey);
  background-color: var(--bg-body-light);
}

.data-table {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  justify-content: center;
  align-items: center;
  width: 100%;
  border-spacing: 0px;
  background-color: var(--bg-table-body);
  overflow-x: visible;
  overflow-y: visible;
  z-index: 1;
}

thead {
  height: 42px;
  background-color: var(--bg-table-heading);
  font-size: var(--fs-16);
}

tbody td {
  padding: 9px;
  height: 55px;
  border-bottom: 1px solid mediumseagreen;
  font-size: var(--fs-16);
  font-weight: 500;
  text-align: center;

}

tbody tr:hover {
  background-color: var(--bg-table-body-row-highlight);
}

.id-col {
  min-width: 20px;
  /* text-align: left; */
}

.name-col {
  text-align: left;
}

.btn {
  display: inline-flex;
  justify-content: center;
  width: 150px;
  height: 42px;
  margin-bottom: 13px;
  /* padding: 8px 16px; */
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-16);
  font-weight: 600;
  background-color: var(--accent);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-dark);
}

.btn:active {
  background-color: var(--accent-darkest);
}

.btn-text,
.btn-icon {
  color: var(--text-light);
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin: 0 4px;
}

.delete-btn {
  size: 25px;
}

.delete-btn:hover {
  cursor: pointer;
  color: royalblue;
}

.add-btn {
  /* display: block; */
  /* background-color: var(--accent); */
}

.form-wrap {
  position: fixed;
  display: block;
  width:20vw;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 8px grey;
  z-index: 3;
  }

  .form-wrap input {
    margin-bottom: 8px;
    width: 100%;
    height: 20px;
    font-size: 15px;
  }

  .dropdown {
    position: fixed;
    display: block;
    top:0px;
    width:20vw;
    float:left;
    background-color: mistyrose;
    font-size: 14px;
    z-index: 2;
  }

  .dropdown: hover {
    cursor: pointer;
  }

  .search-result {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-bottom: 1px solid green;
  }


h1 {
  margin: 0;
  font-size: var(--fs-24);
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: var(--fs-24);
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: var(--fs-16);
  font-weight: 700;
}
